# Virtual Environment
python-venv

# Compiled 
*.pyc
*.swp
*.py~

# Produced files
references/
datasets/
results/

# Results
*.xlsx
*.csv
*.fastq

# Data
*.rtf

# Testing files
.test.py
debug.log
load_dataset_PVHtutorial.py
